.header {
  background: black;
  padding: 0 15px;
  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  &__logo {
    width: 50px
  }
  &__search {
    width: 200px;
    outline: 0;
  }
  &--full {
    display: flex;
    height: 100vh;
  }
}